@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.link--end a:hover, .button:hover, .m1r:hover, .menu__item:hover, .side-nav a:hover {
  transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  /* FF3.7+ */
  -o-transition: 0.2s linear;
  /* Opera 10.5 */
  -webkit-transition: 0.2s linear;
  /* Saf3.2+, Chrome */ }

.button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px; }

/*---Set Up------------------------------------*/
html, body {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Work Sans", Verdana, sans-serif;
  color: #333;
  text-rendering: optimizeLegibility;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: #333; }
  @media (max-width: 768px) {
    html, body {
      font-size: 14px;
      line-height: 1.3;
      font-weight: 400; } }

/* @font-face {
	font-family: 'Nanum Myeongjo';
	src: url('../fonts/NanumMyeongjoBold.eot');
	src: url('../fontsNanumMyeongjoBold.eot?#iefix') format('embedded-opentype'),
		url('../fontsNanumMyeongjoBold.woff') format('woff'),
		url('../fontsNanumMyeongjoBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
} */
/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);*/
.center {
  text-align: center; }

.center--left {
  text-align: center; }
  @media (max-width: 768px) {
    .center--left {
      text-align: left; } }

.right {
  text-align: right; }

.left {
  text-align: left; }

/*---Links------------------------------------*/
a {
  /*   &:visited {
         color: $dark;
         border-bottom: 2px solid $dark;
     }
     &:hover {
         color: rgba($dark, 0.3);
         border-bottom: 2px solid rgba($dark, 0.3);
     }
     &:active {
         color: rgba($dark, 0.3);
     }	   */ }
  a:link {
    text-decoration: none; }

.link--end a:link {
  text-decoration: none;
  color: #333;
  padding: 0 0 3px 0;
  border-bottom: 2px solid #333; }
.link--end a:visited {
  color: #fff; }
.link--end a:hover {
  color: rgba(51, 51, 51, 0.7);
  border-bottom: 2px solid rgba(51, 51, 51, 0.7); }
.link--end a:active {
  color: rgba(51, 51, 51, 0.7); }

.link--darkpink a:link {
  color: #e39398 !important; }
.link--darkpink a:visited {
  color: #e39398 !important; }
.link--darkpink a:hover {
  color: rgba(227, 147, 152, 0.7) !important; }
.link--darkpink a:active {
  color: rgba(227, 147, 152, 0.7) !important; }

/*---Content------------------------------------*/
.content--first {
  width: 100%;
  margin: -100px 0 0 0;
  padding: 150px 0 0 0; }

.content {
  width: 100%; }

.column--single {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .column--single {
      width: 90%; } }

.column--half {
  width: 50%;
  float: left; }
  @media (max-width: 768px) {
    .column--half {
      width: 100%; } }

.column--half-static {
  width: 50%;
  float: left; }

.column--half-br-static {
  width: 49.8%;
  /* for browsers without calc() */
  width: calc(50% - 1px);
  float: left; }

.column--half-br-static:first-of-type {
  border-right: 2px solid #fff; }

.column--half-br:first-of-type {
  border-right: 2px solid #fff; }

.column--half-br {
  width: 49.8%;
  /* for browsers without calc() */
  width: calc(50% - 1px);
  float: left; }
  @media (max-width: 768px) {
    .column--half-br {
      width: 100%;
      padding-top: 60px; } }

@media (max-width: 768px) {
  .column--half-br:first-of-type {
    border-right: 0px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 0 0 60px 0; } }

.column--half-br-fluid {
  width: 49.8%;
  /* for browsers without calc() */
  width: calc(50% - 1px);
  float: left; }
  @media (max-width: 768px) {
    .column--half-br-fluid {
      width: 100%; } }

.column--half-br-fluid:first-of-type {
  border-right: 2px solid #fff; }
  @media (max-width: 768px) {
    .column--half-br-fluid:first-of-type {
      border-right: 0px solid #fff; } }

.column--one-third {
  width: 33.333%;
  float: left; }
  @media (max-width: 768px) {
    .column--one-third {
      width: 100%; } }

.column--one-third-static {
  width: 33.333%;
  float: left; }

.column--two-thirds {
  width: 66.666%;
  float: left; }
  @media (max-width: 768px) {
    .column--two-thirds {
      width: 100%; } }

.column--two-thirds-static {
  width: 66.666%;
  float: left; }

.column--three-fourths {
  width: 75%;
  float: left; }

.column--one-fourth {
  width: 25%;
  float: left; }

.flex--center {
  display: flex;
  align-items: center; }

/*---Rules------------------------------------*/
.rule {
  border-bottom: 2px solid #fff; }

/*---Flex------------------------------------*/
.flex-h-center {
  display: flex;
  align-items: center; }

/* White Container */
.arrow-container-white {
  margin: 0 20px;
  position: relative;
  width: 80%;
  height: auto;
  background-color: #fff; }

.white-tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #fff transparent transparent transparent; }

.white-tri-right.right-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #fff transparent transparent transparent; }

/* Yellow Container */
.arrow-container-yellow {
  margin: 0 20px;
  position: relative;
  width: 80%;
  height: auto;
  background-color: #ffce00; }

.yellow-tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #ffce00 transparent transparent transparent; }

.yellow-tri-right.right-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #ffce00 transparent transparent transparent; }

.abbrev-text-box {
  font-size: 3em;
  font-weight: 600; }

.arrow-container-contents p {
  -webkit-margin-before: 0em !important;
  -webkit-margin-after: 0em !important; }

.light {
  background-color: #fff; }

.lightpink {
  background-color: #fcdfeb; }

.yellow {
  background-color: #ffce00; }

.darkyellow {
  background-color: #ffad00; }

.lightblue {
  background-color: #93d6de; }

.blue {
  background-color: #45c0c9; }

.mediumblue {
  background-color: #0babaf; }

.darkblue {
  background-color: #047272; }

.green {
  background-color: #57c17b; }

.darkgreen {
  background-color: #0a6024; }

.split-bg {
  background-image: url("../images/origins-of-type/split-bg.svg");
  background-size: contain; }

.button {
  font-weight: 600;
  background: #333;
  color: #fff;
  padding: 10px 20px; }
  .button:hover {
    background: rgba(51, 51, 51, 0.6); }

/*---Clear------------------------------------*/
.clear {
  clear: both;
  padding-bottom: 50px; }

.dashes--flex {
  display: flex;
  flex-wrap: wrap; }

.dashes--flex-item {
  align-items: stretch; }

.center-align {
  margin-right: auto;
  margin-left: auto; }

.w5 {
  width: var(--width-5); }

.w6 {
  width: var(--width-6); }

.dib {
  display: inline-block; }

.cf {
  zoom: 1; }

.cf:before, .cf:after {
  content: ' ';
  display: table; }

.cf:after {
  clear: both; }

.pointer {
  cursor: pointer; }

.m1r {
  margin: 0 10px 0 10px;
  background: #ffad00;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  line-height: 2;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  /* future proofing */
  -khtml-border-radius: 50px;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(153, 102, 0, 0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(153, 102, 0, 0.75);
  box-shadow: 5px 5px 0px 0px rgba(153, 102, 0, 0.75); }
  @media (max-width: 1200px) {
    .m1r {
      width: 50px;
      height: 50px;
      font-size: 25px; } }

.m1r:hover {
  background: #fff; }

.br {
  border-right: solid #fff;
  border-right-width: 2px; }

.faces-display {
  font-size: 100px; }

.f1 {
  font-size: 3rem; }

.f2 {
  font-size: 2.25rem; }

.f3 {
  font-size: 1.5rem; }

.f4 {
  font-size: 1.25rem; }

.f5 {
  font-size: 1rem; }

.f6 {
  font-size: .875rem; }

.f7 {
  font-size: .75rem; }

.bg-black {
  background-color: black; }

.white {
  background-color: #fff; }

.img--100 img {
  width: 100%; }

.img--80 img {
  width: 80%; }

.img--middle {
  vertical-align: middle; }

.img--140px img {
  width: 100%;
  max-width: 140px; }

.img--icon {
  width: 20px;
  height: auto; }

.img--minirule {
  max-width: 60px;
  height: auto; }

.spacer--tiny {
  padding: 15px 0; }
  @media (max-width: 768px) {
    .spacer--tiny {
      padding: 5px 0; } }

.spacer--small {
  padding: 30px 0; }
  @media (max-width: 768px) {
    .spacer--small {
      padding: 15px 0; } }

.spacer--medium {
  padding: 60px 0; }
  @media (max-width: 768px) {
    .spacer--medium {
      padding: 30px 0; } }

.spacer--large {
  padding: 90px 0; }
  @media (max-width: 768px) {
    .spacer--large {
      padding: 45px 0; } }

/*---Text Colors------------------------------------*/
.text--light {
  color: #fff; }

.text--blue {
  color: #047272; }

.text--lightpink {
  color: #fcdfeb; }

.text--darkpink {
  color: #e39398; }

.text--yellow {
  color: #ffce00; }

.text--brown {
  color: #d88f0e; }

.text--darkgreen {
  color: #0a6024; }

/*---Typeface------------------------------------*/
.serif {
  font-family: "Bitter", Georgia, serif; }

.kr-sans {
  font-family: "source-han-sans-korean", "Noto Sans KR", "Noto Sans", AppleGothic, Dotum, sans-serif;
  font-weight: 500; }

.kr-sans-bold {
  font-family: "source-han-sans-korean", "Noto Sans KR", "Noto Sans", AppleGothic, Dotum, sans-serif;
  font-weight: 700; }

.kr-serif {
  font-family: "Nanum Myeongjo", AppleMyungjo, Batang;
  font-weight: 700; }

.bold {
  font-weight: 600; }

/*---Headers and Captions------------------------------------*/
h1 {
  font-size: 60px;
  line-height: 1;
  font-weight: 700; }
  @media (max-width: 768px) {
    h1 {
      font-size: 30px; } }

h2 {
  font-size: 30px;
  font-weight: 600; }
  @media (max-width: 768px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 20px;
  font-weight: 600; }
  @media (max-width: 900px) {
    h3 {
      font-size: 18px; } }
  @media (max-width: 768px) {
    h3 {
      font-size: 16px; } }

.caption {
  font-size: 12px; }

.caption--max-width {
  font-size: 12px;
  max-width: 300px; }

.caps {
  text-transform: uppercase;
  letter-spacing: 0.2em; }
  @media (max-width: 768px) {
    .caps {
      letter-spacing: 0.1em; } }

/*---Other------------------------------------*/
.no-break {
  word-break: keep-all; }

/*---Rotated------------------------------------*/
.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

@media (max-width: 768px) {
  .timeline-descriptor {
    display: none; } }

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: white;
  top: 145px;
  bottom: -30px;
  left: 50%;
  margin-left: -1px; }
  @media (max-width: 768px) {
    .timeline::after {
      width: 0px; } }

/* Container around content */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  width: 50%;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .container-timeline {
      width: 100%;
      padding-left: 25px;
      padding-right: 25px; } }

/* The circles on the timeline */
.container-timeline::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: -5px;
  background-color: white;
  top: 25px;
  border-radius: 50%;
  z-index: 1; }
  @media (max-width: 768px) {
    .container-timeline::after {
      width: 0px;
      height: 0px;
      right: 0px; } }

/* Fix the circle for containers on the right side */
.right-timeline::after {
  left: -5px; }
  @media (max-width: 768px) {
    .right-timeline::after {
      left: 0px; } }

/* Place the container to the left */
.left-timeline {
  left: 0; }

/* Place the container to the right */
.right-timeline {
  left: 50%; }
  @media (max-width: 768px) {
    .right-timeline {
      left: 0%; } }

/* Add arrows to the left container (pointing right) */
.left-timeline::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #ffce00;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffce00; }
  @media (max-width: 768px) {
    .left-timeline::before {
      right: 15px;
      border: medium solid #fcdfeb;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent #fcdfeb; } }

/* Add arrows to the right container (pointing left) */
.right-timeline::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #fcdfeb;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fcdfeb transparent transparent; }
  @media (max-width: 768px) {
    .right-timeline::before {
      left: 15px;
      border: medium solid #ffce00;
      border-width: 10px 10px 10px 0;
      border-color: transparent #ffce00 transparent transparent; } }

/* The actual content */
.content-timeline {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  background: #fff; }

.bottom-br {
  border-bottom: 2px solid #047272;
  padding: 0 0 5px 0; }

/*---Footer------------------------------------*/
footer {
  color: #fff;
  padding: 20px 0; }

.header-index {
  width: 100%;
  background-image: url("../images/index/index-header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10% 0 5% 0; }
  .header-index img {
    width: 28%;
    max-width: 480px; }

.header-wrap {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0 0 0; }

.header-container {
  position: relative;
  z-index: 2;
  background: #fff;
  width: 80%;
  padding: 50px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.4); }
  @media (max-width: 1200px) {
    .header-container {
      width: 70%;
      padding: 50px 15%; } }
  @media (max-width: 768px) {
    .header-container {
      width: 60%;
      padding: 30px 20%; } }

.header-content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto; }

.header-section-title {
  position: absolute;
  margin: 20px 0 0 -4%;
  left: 0px;
  font-weight: 700; }
  @media (max-width: 1200px) {
    .header-section-title {
      margin: 20px 0 0 -5%; } }
  @media (max-width: 768px) {
    .header-section-title {
      margin: 50px 0 0 -6%; } }

.header-section-title-conno {
  position: absolute;
  margin: 37px 0 0 -6%;
  left: 0px;
  font-weight: 700; }
  @media (max-width: 1200px) {
    .header-section-title-conno {
      margin: 37px 0 0 -6.8%; } }
  @media (max-width: 768px) {
    .header-section-title-conno {
      margin: 65px 0 0 -8.4%; } }

.header-section-number {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 3px solid #333; }

.header-section-desc {
  font-family: "Bitter", Georgia, serif;
  font-size: 23px; }

.intro-index-wrap {
  width: 100%;
  background: #fff;
  padding: 50px 0; }

.intro-index {
  width: 80%;
  max-width: 900px;
  margin: 0 auto; }

.intro-index p {
  font-size: 40px;
  font-weight: 300; }

.menu {
  color: #fff;
  max-width: 960px; }

.menu__item {
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  text-align: left; }
  .menu__item:hover {
    opacity: 0.6;
    filter: alpha(opacity=60); }
  .menu__item img {
    width: 100%;
    height: auto;
    padding: 30px 0 3px 0; }
  .menu__item a:link {
    color: #fff;
    text-decoration: none; }
  .menu__item a:visited {
    color: #fff; }
  .menu__item a:hover {
    color: #777; }
  .menu__item a:active {
    color: #777; }

.menu__title {
  letter-spacing: 0.02em;
  text-transform: none; }
  @media (max-width: 768px) {
    .menu__title {
      font-size: 14px; } }

/* DROPDOWN */
[v-cloak] {
  display: none; }

.pointer {
  cursor: pointer; }

.relative {
  position: relative; }

.z4 {
  z-index: 4; }

.z0 {
  z-index: 0; }

.dropdown {
  width: 80vw;
  padding: 70px 10vw;
  position: absolute;
  z-index: -1;
  left: -34vw;
  top: -20px;
  height: calc(100vh - 140px);
  background-color: #333;
  transition: opacity 1s;
  overflow: auto; }
  @media (max-width: 768px) {
    .dropdown {
      width: 100vw;
      padding: 70px 0vw; } }
  @media (min-width: 1200px) {
    .dropdown {
      width: 60vw;
      padding: 70px 20vw; } }

.drop-enter-active, .drop-leave-active {
  transition: top 0.3s; }

.drop-enter, .drop-leave-to {
  top: -100vh;
  transition-timing-function: ease-in; }

/*---Navigation------------------------------------*/
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  padding: 20px 2% 0 2%; }

nav a:link {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px; }
nav a:visited {
  color: #fff; }

.nav__logo {
  max-width: 190px;
  height: auto; }

.side-nav-left {
  height: 150px;
  width: 250px;
  position: fixed;
  bottom: 0px;
  left: -90px; }
  @media (max-width: 768px) {
    .side-nav-left {
      display: none; } }

.side-nav-right {
  height: 150px;
  width: 250px;
  position: fixed;
  bottom: 0px;
  right: -90px; }
  @media (max-width: 768px) {
    .side-nav-right {
      display: none; } }

.side-nav a:link {
  font-size: 14px;
  color: #fff; }
.side-nav a:visited {
  color: #fff; }
.side-nav a:hover {
  color: rgba(255, 255, 255, 0.6); }
.side-nav a:active {
  color: rgba(255, 255, 255, 0.6); }

/*# sourceMappingURL=style.css.map */
