.about-wrap {
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  line-height: 1.6;
}

.about-container {
  position: relative;
  z-index: 2;
  background: $light;
  width: 80%;
  max-width: 685px;
  padding: 100px;
  margin: 0 auto;

  @media #{$medium} {
    width: 70%;
    padding: 50px 7%;
  }

  @media #{$small} {
    width: 70%;
    padding: 30px 10%;
  }
}

.about-link a {
  border-bottom: 1px solid;
}

.headshot img {
  width: 100px;
  padding: 15px 0 5px 0;
}

.social-media a {
  &:link {
    text-decoration: none;
    & img {
      height: 15px;
      width: auto;
      padding: 5px 0 0 0;
    }
  }
  &:hover {
    & img {
      opacity: 0.6;
      filter: alpha(opacity=60);
      @extend %transition;
    }
  }
}
