.intro-index-wrap {
  width: 100%;
  background: $light;
}

.intro-index {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.intro-index p {
  @include text(40px, $weight: 300);
    
  @media #{$small} {
   font-size: 25px;
  }
}