.menu {
  color: $light;
}

.menu__section_title {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.15em;
  padding: 1em 0;
  border-bottom: 1px solid $light;
  margin: 0 0 2em 0;
  text-align: left;

  @media #{$small} {
    font-size: 1.25em;
  }
}

.menu__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: $light;
  line-height: 0;

    &:hover {
      opacity: 0.6; 
      filter: alpha(opacity=60);
      @extend %transition;
    }
    
    img {
      width: 60px;
      height: auto;
      padding: 0 2em 0 0;

      @media #{$small} {
        width: 50px;
        padding: 0 1em 0 0;
      }
    }

    .menu__arrow {
      font-size: 3em;
      justify-self: right;

      @media #{$small} {
        font-size: 2em;
      }
    }

   a {
    &:link {
        color: $light !important;
        text-decoration: none;
    }
    &:visited {
        color: $light;
    }
    &:hover {
        color: $gray;
    }
    &:active {
        color: $gray;
    }	   
    }

 }

 .menu__left {
  display: flex;
  align-items: center;
 }

.menu__title {
  font-size: 2.5em;
  letter-spacing: 0.02em;
  text-transform: none;
  color: $light;

    
  @media #{$small} {
    font-size: 1.75em;
  }
}

.menu__arrow {

}




/* DROPDOWN */

  [v-cloak] {
    display: none;
  }
  .pointer {
    cursor: pointer;
  }
  .relative {
    position: relative;
  }
  .z4 { z-index: 4 }
  .z0 { z-index: 0 }
  .dropdown {
    width: 80vw;
    padding: 70px 10vw 100px 0; 
    position: absolute;
    z-index: -1;
    left: -34vw;
    top: -20px;
    height: calc(100vh - 140px);
    background-color: $dark;
    transition: opacity 1s;
    overflow: auto;
      
      @media #{$small} {
        width: 100vw;
        padding: 70px 0vw 100px 0; 
      }
      
      @media #{$large} {
        width: 60vw;
        padding: 70px 20vw; 
      }
  
      .menu {
        .spacer--tiny {
          padding: 0 !important;
        }

        .spacer--small {
          padding: 30px 0 0 0;
        }
      }

      .menu__section_title {
        font-size: 1em;
      }

      .menu__title, .menu__arrow {
        font-size: 1.75em;
      }

      .menu__icon img {
        width: 50px;
        padding: 0 1em 0 0;
      }
  }

  .drop-enter-active, .drop-leave-active {
    transition: top 0.3s;
  }
  .drop-enter, .drop-leave-to {
    top: -100vh;
    transition-timing-function: ease-in;
  }