/*---Navigation------------------------------------*/

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  padding: 20px 2% 0 2%;
}

nav {

  & a:link {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  & a:visited {
    color: #fff;
  }

  & .item {
    flex-grow: 1;
  }
    
}
