.side-nav-left {
  height: 150px;
  width: 250px;
  position: fixed;
  bottom: 30px;
  left: -90px;

  @media #{$small} {
    display: none;
  }
}

.side-nav-right {
  height: 150px;
  width: 250px;
  position: fixed;
  bottom: 30px;
  right: -90px;
    
  @media #{$small} {
    display: none;
  }
}

.side-nav a {
    &:link {
        font-size: 14px;
        color: $light;
    }
    &:visited {
        color: $light;
    }
    &:hover {
        @extend %transition;
        color: rgba($light, 0.6);
    }
    &:active {
        color: rgba($light, 0.6);
    }	   
}