.light {
  background-color: $light;
}

.lightpink {
  background-color: $lightpink;
}

.yellow {
  background-color: $yellow;
}

.darkyellow {
  background-color: $darkyellow;
}

.lightblue {
  background-color: $lightblue;
}

.blue {
  background-color: $blue;
}

.mediumblue {
  background-color: $mediumblue;
}

.darkblue {
  background-color: $darkblue;
}

.green {
  background-color: $green;
}

.darkgreen {
  background-color: $darkgreen;
}