  .center-align {
    margin-right: auto;
    margin-left: auto;
  }

  .w5 { width: var(--width-5); }
  .w6 { width: var(--width-6); }

  .dib { display: inline-block; }

  .cf {
    zoom: 1;
  }

  .cf:before, .cf:after {
    content: ' ';
    display: table;
  }

  .cf:after {
    clear: both;
  }

  .pointer {
    cursor: pointer;
  }

  .m1r {
    margin: 0 10px 0 10px;
    background: $darkyellow;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    line-height: 2;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    /* future proofing */
    -khtml-border-radius: 50px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(153, 102, 0, 0.75);
    -moz-box-shadow:    5px 5px 0px 0px rgba(153, 102, 0, 0.75);
    box-shadow:         5px 5px 0px 0px rgba(153, 102, 0, 0.75);
      
    &:active {
      @extend %transition;
      background: rgba(153, 102, 0, 0.75);
      -webkit-box-shadow: 0px 0px 0px 0px rgba(153, 102, 0, 0.75);
      -moz-box-shadow:    0px 0px 0px 0px rgba(153, 102, 0, 0.75);
      box-shadow:         0px 0px 0px 0px rgba(153, 102, 0, 0.75);
    }

    @media #{$medium} {
      width: 50px;
      height: 50px;
      font-size: 25px;
    }      
  }
    
  .m1r:hover {
    background: #fff;
    @extend %transition;
  }

  .br {
    border-right: solid #fff;
    border-right-width: 2px;
  }

  .faces-display { font-size: 100px; }

  .f1 { font-size: 3rem; }
  .f2 { font-size: 2.25rem; }
  .f3 { font-size: 1.5rem; }
  .f4 { font-size: 1.25rem; }
  .f5 { font-size: 1rem; }
  .f6 { font-size: .875rem; }
  .f7 { font-size: .75rem; }

  .bg-black { background-color: black; }

  .white { background-color: #fff;  }