.img--100 {
  img {
    width: 100%;
    }
}

.img--80 {
  img {
    width: 80%;
    }
}

.img--middle {
  vertical-align: middle;
}

.img--140px {
  img {
    width: 100%;
    max-width: 140px;
    }
}

.img--icon {
  width: 20px;
  height: auto;
}