.timeline-descriptor {
    @media #{$small} {
      display: none;
    }
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: white;
    top: 175px;
    bottom: calc(10vh - 50px);
    left: 50%;
    margin-left: -1px;
    border-radius: 5px;
    animation: opac 2s;
    
    @media #{$small} {
      width: 0px;
    }
}

@keyframes opac {
  from{opacity:0} to{opacity:1}
}


/* Container around content */
.container-timeline {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    box-sizing: border-box;
    max-width: 600px;
    
    @media #{$small} {
      width: 100%;
      padding-left: 25px;
      padding-right: 25px;
    }
}
    
/* The circles on the timeline */
.container-timeline::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -5px;
    background-color: white;
    top: 47px;
    border-radius: 50%;
    z-index: 1;
    transition: 0s linear;
    animation: animatezoom 0.5s;
    
    @media #{$small} {
      width: 0px;
      height: 0px;
      right: 0px;
    }
}

@keyframes animatezoom { 
  from{transform:scale(0)} to{transform:scale(1)}
}
    
/* Fix the circle for containers on the right side */
.right-timeline::after {
    left: -5px;
    
    @media #{$small} {
      left: 0px;
    }
}

/* Place the container to the left */
.left-timeline {
    left: 0;
    margin-top: -10vh;

    @media #{$small} {
      margin-top: 0;
    }
}

/* Place the container to the right */
.right-timeline {
    left: 50%;
    
    @media #{$small} {
      left: 0%;
    }
}

.timeline .Hieroglyphs, 
.timeline .Carolingian,
.timeline .Metal,
.timeline .Renaissance, 
.timeline .Realist, 
.timeline .Modernist,
.Post
 {
  margin-top: -10vh;

  @media #{$small} {
    margin-top: 0;
  }
}

/* Add arrows to the left container (pointing right) */
.left-timeline::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 42px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid $yellow;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $yellow;
    
    @media #{$small} {
      right: 15px;
      border: medium solid $lightpink;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent $mediumyellow;
    }
}

/* Add arrows to the right container (pointing left) */
.right-timeline::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 42px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid $lightpink;
    border-width: 10px 10px 10px 0;
    border-color: transparent $lightpink transparent transparent;
    
    @media #{$small} {
      left: 15px;
      border: medium solid $yellow;
      border-width: 10px 10px 10px 0;
      border-color: transparent $mediumpink transparent transparent;
    }
}

/* The actual content */
.content-timeline {
    position: relative;
    border-radius: 12px;
    background: $light;
}

.milestone-content {
  padding: 30px 40px;
}

    .bottom-br {
        border-bottom: 2px solid $darkblue;
        padding: 0 0 5px 0;
    }

.lightpink .milestone-img {
  background: $lightpink;
  border-radius: 12px 12px 0 0;
  padding: 1em 0;

  @media #{$small} {
    background: $mediumpink;
  }
}

.yellow .milestone-img {
  background: $yellow;
  border-radius: 12px 12px 0 0;
  padding: 1em 0;

  @media #{$small} {
    background: $mediumyellow;
  }
}