.timeline-descriptor {
    @media #{$small} {
      display: none;
    }
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: white;
    top: 145px;
    bottom: -30px;
    left: 50%;
    margin-left: -1px;
    
    @media #{$small} {
      width: 0px;
    }
}

/* Container around content */
.container-timeline {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    box-sizing: border-box;
    
    @media #{$small} {
      width: 100%;
      padding-left: 25px;
      padding-right: 25px;
    }
}
    
/* The circles on the timeline */
.container-timeline::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -5px;
    background-color: white;
    top: 25px;
    border-radius: 50%;
    z-index: 1;
    
    @media #{$small} {
      width: 0px;
      height: 0px;
      right: 0px;
    }
}
    
/* Fix the circle for containers on the right side */
.right-timeline::after {
    left: -5px;
    
    @media #{$small} {
      left: 0px;
    }
}

/* Place the container to the left */
.left-timeline {
    left: 0;
}

/* Place the container to the right */
.right-timeline {
    left: 50%;
    
    @media #{$small} {
      left: 0%;
    }
}

/* Add arrows to the left container (pointing right) */
.left-timeline::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid $yellow;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $yellow;
    
    @media #{$small} {
      right: 15px;
      border: medium solid $lightpink;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent $lightpink;
    }
}

/* Add arrows to the right container (pointing left) */
.right-timeline::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid $lightpink;
    border-width: 10px 10px 10px 0;
    border-color: transparent $lightpink transparent transparent;
    
    @media #{$small} {
      left: 15px;
      border: medium solid $yellow;
      border-width: 10px 10px 10px 0;
      border-color: transparent $yellow transparent transparent;
    }
}

/* The actual content */
.content-timeline {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    background: $light;
}

    .bottom-br {
        border-bottom: 2px solid $darkblue;
        padding: 0 0 5px 0;
    }