/*---Text Colors------------------------------------*/

.text--blue {
  color: $darkblue;
}

.text--lightpink {
  color: $lightpink;
}

.text--yellow {
  color: $yellow;
}

.text--darkgreen {
  color: $darkgreen;
}

/*---Typeface------------------------------------*/

.serif {
  font-family: $serif;
}

.kr-sans {
  font-family: $krsansserif;
  font-weight: 500;
}

.kr-sans-bold {
  font-family: $krsansserif;
  font-weight: 700;
}

.kr-serif {
  font-family: $krserif;
  font-weight: 700;
}


/*---Rotated------------------------------------*/

.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}