/*---Text Colors------------------------------------*/

.text--light {
  color: $light;
}

.text--lightgray {
  color: $lightgray;
}

.text--blue {
  color: $darkblue;
}

.text--lightpink {
  color: $lightpink;
}

.text--darkpink {
  color: $darkpink;
}

.text--yellow {
  color: $yellow;
}

.text--brown {
  color: $brown;
}

.text--darkgreen {
  color: $darkgreen;
}

.text--lightgray {
  color: $lightgray;
}

/*---Typeface------------------------------------*/

.serif {
  font-family: $serif;
}

.kr-sans {
  font-family: $krsansserif;
  font-weight: 500;
}

.kr-sans-bold {
  font-family: $krsansserif;
  font-weight: 700;
}

.kr-serif {
  font-family: $krserif;
  font-weight: 700;
}

.bold {
  font-weight: 600;
}

.black {
  font-weight: 700;
}

/*---Headers and Captions------------------------------------*/

h1 {
  @include text(60px, 1, 700);
   
  @media #{$small} {
    font-size: 30px;
  }
}

h2 {
  @include text(30px, $weight: 600);
    
  @media #{$small} {
    font-size: 20px;
  }
}

    
h3 {
  @include text(20px, $weight: 600);
    
  @media #{$pre-medium} {
    font-size: 18px;
  }
    
  @media #{$small} {
    font-size: 16px;
  }
}

.weight--400 {
  font-weight: 400 !important;
}

.nav--top {
    @media #{$small} {
      font-size: 12px;
    }
}

.dash-eg {
  font-size: 50px;
  line-height: 1.2;

    @media #{$small} {
      font-size: 30px;
    }
}

.caption {
  font-size: 14px;
}

.caption--max-width {
  font-size: 14px;
  max-width: 370px;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.2em;
    
  @media #{$small} {
    letter-spacing: 0.1em;
  }
}

.h3-responsive {
  @include text(20px, $weight: 600);
    
  @media #{$pre-medium} {
    font-size: 16px;
  }
    
  @media #{$small} {
    font-size: 10px;
  }
}

/*---Other------------------------------------*/

.no-break {
  word-break: keep-all;
}

.no-orphan {
    white-space: nowrap;
}

/*---Rotated------------------------------------*/

.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

