/*---Text Colors------------------------------------*/

.text--blue {
  color: $darkblue;
}

.text--lightpink {
  color: $lightpink;
}

.text--yellow {
  color: $yellow;
}

/*---Typeface------------------------------------*/

.serif {
  font-family: $serif;
}

.kr-sans {
  font-family: $krsansserif;
}

.kr-serif {
  font-family: $krserif;
}